<section class="block block--skewed-left">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">Heading1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quam, explicabo non vitae quasi
                aperiam harum rem pariatur minima, repudiandae quos dolore! Ad non velit, amet officia odit
                veritatis
                maxime.</p>
        </header>
        <div class="card card--secondary">
            <header class="card__header">Card Title</header>
            <div class="card__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi dignissimos
                eaque,
                aspernatur id obcaecati voluptatum quibusdam impedit eligendi recusandae quia rerum repellat,
                blanditiis,
                saepe error. Facilis voluptates aut quo non.</div>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-right">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">Heading1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quam, explicabo non vitae quasi
                aperiam harum rem pariatur minima, repudiandae quos dolore! Ad non velit, amet officia odit
                veritatis
                maxime.</p>
        </header>
        <div class="card card--secondary">
            <header class="card__header">Card Title</header>
            <div class="card__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi dignissimos
                eaque,
                aspernatur id obcaecati voluptatum quibusdam impedit eligendi recusandae quia rerum repellat,
                blanditiis,
                saepe error. Facilis voluptates aut quo non.</div>
        </div>
    </div>
</section>